.ul_navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.li_navbar {
  float: left;
}

.li_navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li_navbar a:hover {
  background-color: #111;
}
header {
  text-align: center;
  background-color: #eeb32b;
}
.toledo_img {
  width: 600px;
  height: 400px;
  float: right;
}

.toledo_home {
  border: 5px solid black;
  border-radius: 5px;
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
iframe {
  height: 400px;
}
.container {
  padding: 10px 70px;
}

.container_galeria {
  padding: 10px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.galeria {
  width: 500px;
  height: 300px;
  margin: 5px;
}

.sub_container {
  display: flex;
  justify-content: center;
}

.formulario {
  justify-content: center;
}

.container_contact {
  padding: 10px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
